@import "tailwindcss";

:root {
  --color-primary-50: #e0f2e0; /* Verde bem claro para backgrounds sutis */
  --color-primary-100: #b3dfb3;
  --color-primary-500: #006633; /* Verde institucional do IF */
  --color-primary-600: #005a2d; /* Verde um pouco mais escuro para hover */
  --color-secondary-500: #ed1c24; /* Vermelho do IF */
  --color-secondary-600: #d61a21; /* Vermelho para hover */

  /* Cores para o tema claro */
  --color-background-light: #ffffff; /* Branco puro */
  --color-text-light: #1a1a1a; /* Quase preto para bom contraste */
  --color-card-bg-light: #ffffff;
  --color-border-light: #e5e7eb; /* Gray-200 */
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background-dark: #121212; /* Um preto suave, não puro */
    --color-text-dark: #e0e0e0; /* Branco suave para textos */
    --color-card-bg-dark: #1f1f1f;
    --color-border-dark: #374151; /* Gray-700 */
  }
}

body {
  background-color: var(--color-background-light);
  color: var(--color-text-light);
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--color-background-dark);
    color: var(--color-text-dark);
  }
}
