@import "tailwindcss";

:root {
  --color-primary-50: #e0f2e0; /* Verde bem claro para backgrounds sutis */
  --color-primary-100: #b3dfb3;
  --color-primary-500: #006633; /* Verde institucional do IF */
  --color-primary-600: #005a2d; /* Verde um pouco mais escuro para hover */
  --color-secondary-500: #ed1c24; /* Vermelho do IF */
  --color-secondary-600: #d61a21; /* Vermelho para hover */

  /* Cores para o tema claro */
  --color-background-light: #ffffff; /* Branco puro */
  --color-text-light: #1a1a1a; /* Quase preto para bom contraste */
  --color-card-bg-light: #ffffff;
  --color-border-light: #e5e7eb; /* Gray-200 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  @apply bg-gray-50 text-gray-800 dark:bg-gray-900 dark:text-gray-200;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
